*/.idea/
*/envi/
*.xml
.idea/
/.idea/
/out/
*/*.xml
/envi/
.DS_Store
*/*.log
/SemanticExtraction/Data/
/SemanticExtraction/finalDataes/
/SemanticExtraction/midDataes/
/SemanticExtraction/midDataes_Single/
__pycache__
*.pyc
.vscode